<!--Breadcrumbs-->
<div class="breadcrumbs-wrapper">
    <div class="container">
        <div class="breadcrumbs"><a href="{% url 'home' %}" title="На главную">Главная</a>
            {% if subcategory %}
            <span aria-hidden="true">|</span> <span><a href="{{ category.get_category_url }}" title="К категории">{{ category.name }}</a></span>
            <span aria-hidden="true">|</span> <span><a href="{{ subcategory.get_subcategory_url }}" title="К категории">{{ subcategory.name }}</a></span></div>
            {% else %}
            <span aria-hidden="true">|</span> <span><a href="{{ category.get_category_url }}" title="К категории">{{ category.name }}</a></span></div>
            {% endif %}
    </div>
</div>
